<div *ngIf="selectedHero">
<h2>Редактор персонажа</h2>
<h2>{{selectedHero.name | uppercase}} характеристики</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <div><span>Уровень: </span>{{selectedHero.level}}</div>
    <div><span>Очки здоровья: </span>{{selectedHero.hit_points}}</div>
  <div>

  <label for="name">Имя персонажа: </label>
    <input id="name" [(ngModel)]="selectedHero.name" placeholder="name">
    <div><img [src]="selectedHero.picture" height=300rem></div>

    <div>
      <textarea id="description" [(ngModel)]="selectedHero.description" placeholder="description"></textarea>
    </div>
      <div class="wrapper">
        <div class ="characteristic_name">Сила: </div>
        <input class ="characteristic" id="strength" [(ngModel)]="selectedHero.strength" placeholder="strength">
      </div>
      <div class="wrapper">
        <div class ="characteristic_name">Ловкость:  </div>
        <input class ="characteristic" id="dexterity" [(ngModel)]="selectedHero.dexterity" placeholder="dexterity">
      </div>
      <div class="wrapper">
        <div class ="characteristic_name">Телосложение:  </div>
        <input class ="characteristic" id="constitution" [(ngModel)]="selectedHero.constitution" placeholder="constitution">
      </div>
      <div class="wrapper">
        <div class ="characteristic_name">Интеллект:  </div>
        <input class ="characteristic" id="intelligence" [(ngModel)]="selectedHero.intelligence" placeholder="intelligence">
      </div>
      <div class="wrapper">
        <div class ="characteristic_name">Мудрость:  </div>
        <input class ="characteristic" id="wisdom" [(ngModel)]="selectedHero.wisdom" placeholder="wisdom"></div>
      <div class="wrapper">
        <div class ="characteristic_name">Харизма: </div>
        <input class ="characteristic" id="charisma" [(ngModel)]="selectedHero.charisma" placeholder="charisma"></div>
      </div>
    <button type="button" (click)="save()">Сохранить</button>
  </div>
  <!-- race?: string;
   hero_class?: string;-->

  <button type="button" (click)="goBack()">Назад</button>

</div>
